@import "tailwindcss";

@theme {
    /* Breakpoints / Screens */
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    --breakpoint-xl: 1440px;

    /* Custom Colors */
    --color-strong-cyan: hsl(171, 66%, 44%);
    --color-light-blue: hsl(233, 100%, 69%);
    --color-dark-grayish-blue: hsl(210, 10%, 33%);
    --color-grayish-blue: hsl(201, 11%, 66%);

    /* Custom Fonts */
    --font-sans: "Bai Jamjuree", sans-serif;
}

@utility bg-header {
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 576px) {
        background-image: url("../images/bg-header-mobile.png");
    }
}

@utility section-container {
    @apply max-w-6xl
    text-center
    mx-auto
    my-20
    p-4;
}

@utility h3-heading {
    @apply text-4xl
    font-bold
    text-dark-grayish-blue
    my-5
    md:text-5xl;
}

@utility h4-heading {
    @apply text-3xl
    font-bold
    text-dark-grayish-blue
    my-3
    md:text-4xl;
}

@utility h5-heading {
    @apply text-2xl
    font-bold
    text-dark-grayish-blue
    my-2
    md:text-3xl;
}

@utility h6-heading {
    @apply text-base
    text-dark-grayish-blue
    font-bold
    my-1
    md:text-lg;
}

@utility flex-col-first {
    @apply flex
    flex-col
    justify-center
    items-center
    space-y-4
    md:flex-row
    md:space-y-0
    md:space-x-4;
}

@utility flex-row-first {
    @apply flex
    justify-center
    items-center
    space-x-4
    md:flex-col
    md:space-x-0
    md:space-y-4;
}

@utility default-button-strong-cyan {
    @apply text-white
    rounded-full
    shadow-xl
    bg-strong-cyan
    px-6
    py-3
    my-4
    hover:opacity-80
    hover:-translate-y-0.5;
}

@utility default-button-light-blue {
    @apply text-white
    rounded-full
    shadow-xl
    bg-light-blue
    px-6
    py-3
    my-4
    hover:opacity-80
    hover:-translate-y-0.5;
}

@utility light-p {
    @apply font-light
    text-2xl
    my-3
    text-grayish-blue
    md:text-xl;
}

@utility light-small-p {
    @apply font-light
    text-xl
    my-2
    text-grayish-blue
    md:text-lg;
}

@utility light-x-small-p {
    @apply font-light
    text-base
    my-1
    text-grayish-blue
    md:text-xl;
}

@utility light-extra-small-p {
    @apply font-light
    text-xs
    text-grayish-blue;
}